@media only screen and (max-width: 600px) {
    #image {
        display: none;
    }

    #title {
        display: flex;
        justify-content: center;
        margin-right: 63px;
        margin-top: -10px;
    }

    #label {
        display: block;
        margin: 0;
    }

    #cekKegiatan {
        display: flex;
        margin-left: 59px;
        margin-top: -114px;
    }

    #pengajuanPKL {
        display: flex;
        margin-left: 238px;
        margin-top: -48px;
    }

    #monitoringLabel {
        display: flex;
        margin-top: 65px;
        margin-left: 82px;
    }

    #tabelLabel {
        display: flex;
        margin-top: -24px;
        margin-left: 253.5px;
    }

    #bell {
        display: none;
    }

    #menu a {
        display: block;
    }

    #pengajuan {
        margin-top: -100px;
        margin-left: 50px;
    }

    #kegiatan {
        position: relative;
        z-index: 1;
        margin-left: 200px;
        margin-top: -30px;
        margin-bottom: 40px;
    }

    #monitoring {
        margin-top: 10px;
        margin-left: 50px;
    }

    #tabel {
        margin-top: -60px;
        margin-left: 200px;
    }

    #kembali {
        display: block;
        margin-top: -70px;
        margin-right: 30px;
    }
}
